html{
    margin:0;
    height: 100%;
    width:100%;
}

body{
    background-image: url('https://wallpaperaccess.com/full/84248.png');
    background-size: cover;
    background-position:  center;
    background-attachment: fixed;
    height: 100%;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*{
    box-sizing: border-box;
}

.container{
    
    margin:auto;
}

.linebar{
    max-width:600px;
    margin:auto;
}

.home{
    padding-top:30px;
    min-height: 100%;
}

.infos{
    padding-top: 30px;
}

.dp{
    border-radius: 50%;
    max-height: 200px;
    min-height: 50px;
}

.aboutme{
    text-align: justify;
    max-width: 1500px;
}

button{
    width: 200px;
    min-width: 50px;
}

.port-proj img{
    width: 100%;
    height: 100%;
}

.port-div{
    border-color:black;
    border-width: 20px;
}

input{
    width: 70%;
    max-width: 100% !important;
}

.contact-div{
    max-width: 800px !important;
}

form{
    max-width: 800px !important;
}

.soc-sites{
    width:50px;
}